<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>留言板</title>
</head>
<body>
    <h1>留言信息，请留下你的信息</h1>
    <form action="{% url 'go_form' %}" method="post">
        {% csrf_token %}
        姓名:<input type="text" name="name" value="{% ifequal my_message.name|slice:'5' 'bobby2' %}bobby2{% else %}not name{% endifequal %}"/><br>
        邮箱:<input type="text" name="email" value="{{ my_message.email }}"/><br>
        联系地址:<input type="text" name="address" value="{{ my_message.address }}"/><br>
        留言:<textarea type="text" name="message">{{ my_message.message }}
            </textarea><br>
        <input type="submit" value="提交" />

    </form>
</body>
</html>